---
- name: Initial setup of cloud VPS
  hosts: "cloud"
  vars:
    debian_version: bookworm
    new_user_name: val
    new_user_groups: sudo
    initial_packages: [screen, vim, unattended-upgrades, locate, ntp, ntpdate, net-tools, python3-pip, podman]
    apt_daily_timer_override_dir: /etc/systemd/system/apt-daily.timer.d
  vars_files:
    - secrets.yml
# ansible-playbook --user root --ask-pass --ask-vault-password ansible/initial_setup.yml
  tasks:
    - name: Add user
      ansible.builtin.user:
        name: "{{ new_user_name }}"
        groups: "{{ new_user_groups }}"
        password: "{{ vault_initial_setup_new_user_password }}"
        shell: "/bin/bash"
        state: present
      become: yes

    - name: Copy ssh ID to new user
      ansible.posix.authorized_key:
        user: "{{ new_user_name }}"
        key: "{{ lookup('file', '~/.ssh/id_ed25519.pub') }}"
        state: present

    - name: Update apt cache and upgrade all packages, no dist upgrade
      ansible.builtin.apt:
        name: "*"
        update_cache: true
        force_apt_get: true
        state: latest
      become: yes

    - name: Install initial packages
      ansible.builtin.apt:
        name: "{{ initial_packages }}"
        force_apt_get: true
        state: latest
      become: yes

    - name: Add journald config
      ansible.builtin.copy:
        src: ../configs/journald/journald.conf
        dest: /etc/systemd/journald.conf
      become: yes

    - name: Add 50unattended-upgrades config
      ansible.builtin.copy:
        src: ../configs/unattended-upgrades/50unattended-upgrades
        dest: /etc/apt/apt.conf.d/50unattended-upgrades
      become: yes

    - name: Add 20auto-upgrades config
      ansible.builtin.copy:
        src: ../configs/unattended-upgrades/20auto-upgrades
        dest: /etc/apt/apt.conf.d/20auto-upgrades
      become: yes

    - name: Ensure {{ apt_daily_timer_override_dir }} dir exists
      ansible.builtin.file:
        path: "{{ apt_daily_timer_override_dir }}"
        state: directory
      become: yes

    - name: Add apt-daily.timer override config
      ansible.builtin.copy:
        src: ../configs/unattended-upgrades/apt-daily.timer-override.conf
        dest: "{{ apt_daily_timer_override_dir }}/override.conf"
      become: yes

    - name: Add sshd config; restart sshd manually - systemctl restart ssh.service
      ansible.builtin.template:
        src: ../configs/sshd/sshd_config.j2
        dest: /etc/ssh/sshd_config
      become: yes

    - name: Add vimrc
      ansible.builtin.copy:
        src: ../configs/vim/vimrc
        dest: /etc/vim/vimrc
      become: yes

    - name: Add disk_cleanup.sh
      ansible.builtin.copy:
        src: ../scripts/disk_cleanup.sh
        dest: /usr/bin/disk_cleanup.sh
        mode: '755'

    - name: Add hostname config for cloud-init, reboot needed to apply
      ansible.builtin.template:
        src: ../configs/cloud-init/99_hostname.j2
        dest: /etc/cloud/cloud.cfg.d/99_hostname.cfg
        mode: '644'
      become: yes

    # ansible-galaxy collection install community.general
    - name: Set timezone to Europe/Berlin
      community.general.timezone:
        name: Europe/Berlin

    - name: Enable systemd linger via loginctl
      ansible.builtin.shell:
        cmd: "loginctl enable-linger {{ new_user_name }}"

    - name: Perform systemd daemon-reload
      ansible.builtin.systemd_service:
        daemon_reload: true
      become: yes

    - name: Enable podman-restart systemd service
      ansible.builtin.systemd_service:
        name: podman-restart
        enabled: true
        scope: user
        state: started
      become: yes
      become_user: "{{ new_user_name }}"

    - name: Create systemd service unit file for container system prune
      ansible.builtin.template:
        src: ../configs/systemd/services/podman_system_prune.service.j2
        dest: "/home/{{ ansible_user_id }}/.config/systemd/user/podman_system_prune.service"
      become: yes
      become_user: "{{ new_user_name }}"

    - name: Create systemd timer unit file for container system prune
      ansible.builtin.template:
        src: ../configs/systemd/timers/podman_system_prune.timer.j2
        dest: "/home/{{ ansible_user_id }}/.config/systemd/user/podman_system_prune.timer"
      become: yes
      become_user: "{{ new_user_name }}"

    - name: Perform systemd daemon-reload in user scope
      ansible.builtin.systemd_service:
        daemon_reload: true
        scope: user
      become: yes
      become_user: "{{ new_user_name }}"

    - name: Enable and start systemd service for container system prune
      ansible.builtin.systemd:
        name: podman_system_prune.service
        enabled: true
        scope: user
        state: started
      become: yes
      become_user: "{{ new_user_name }}"

  # - name: Reboot
  #    ansible.builtin.reboot:
